body {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

/* main styles */
.main {
  display: flex;

  flex-direction: row-reverse;
  background-color: #e5e5e5;
  width: 1200px;
  margin: 0 auto;
  &__content {
    width: 830px;
    background-color: #ffffff;
    padding-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  }
}

.switch {
  margin-left: 600px;
}

.form-check {
  margin-right: 40px;
  margin-top: 40px;
  &-input {
    background-color: $form-check-input-checked-bg-color;
    border-color: $form-check-input-checked-border-color;
  }
}

.about {
  &__user {
    margin-bottom: 40px;
  }
  &__usertop {
    margin-top: 0;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  &__username {
    margin-top: 0;
    margin-bottom: 25px;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
  }
  &__userparagr {
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 600px;
    min-height: 100px;
  }
}
/* Experience styles */
#accordionFlushExample {
  margin: 20px;
  padding: 0;
}
#accordionFlushExample > li {
  padding-left: 8px;
  border: none;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.accordion-header.collapsed {
  .bi-chevron-compact-up {
    display: none;
  }
  .bi-chevron-compact-down {
    margin-left: auto;
    display: block;
    margin-right: 20px;
    font-size: 2rem;
    color: transparent;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  }
  &:hover,
  &:focus {
    .bi-chevron-compact-down {
      color: firebrick;
      transform: scale(1.5);
    }
  }
}
.accordion-header:not(.collapsed) {
  .bi-chevron-compact-up {
    margin-left: auto;
    display: block;
    margin-right: 20px;
    font-size: 2rem;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;
  }
  .bi-chevron-compact-down {
    display: none;
  }
  &:hover,
  &:focus {
    .bi-chevron-compact-up {
      color: firebrick;
      transform: scale(1.5);
    }
  }
}
.experience__container > p {
  display: block;
}
.experience {
  margin-bottom: 50px;
  padding-right: 40px;
  &__container {
    // ----------------------------------------------------------------
    display: flex;

    justify-content: center;
    align-items: center;

    width: 250px;
    height: 35px;

    border-radius: 10px;
    border: transparent 1px solid;

    position: absolute;
    z-index: 10;
    right: 40px;
    top: 5px;
  }
  &__container,
  &__container > p {
    margin-bottom: 0;
    transform: scale(0.4);
    color: transparent;
    background-color: transparent;

    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms,
      color 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms,
      background-color 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms,
      border 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms,
      border-radius 350ms cubic-bezier(0.4, 0, 0.2, 1) 1000ms;

    // ---------------------------------------------------------------
  }
  &__list {
    position: relative;
    // display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #595959;
  }
  &__item {
    // min-height: 51px;
  }
  &__date {
    margin-top: 0;
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
  }
  &__style {
    &-worklist {
      margin: 0;
      padding: 0;

      list-style-type: none;
    }
    &-container {
      margin: 0;
      padding: 0;
      border: none;
    }
    &-top {
      margin-top: 0;
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }
    &-listtop {
      display: flex;

      margin-top: 0;
      margin-bottom: 10px;

      font-size: 16px;
      font-weight: 700px;
      color: #000000;
    }
    &-list {
      margin-top: 0;
      // margin-bottom: 0;
      margin-left: 18px;

      padding: 0;

      // list-style-type: none;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #595959;
      & > li:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}

.bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.project__linc {
  display: flex;

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: firebrick;
    .experience__container {
      //**********************************************************************
      color: firebrick;
      // display: block;
      transform: scale(1);
      background-color: #a8a8a8;
      border-radius: 10px;
      border: firebrick 1px solid;
    }
    // .bracket,
    .experience__container > p {
      color: firebrick;
      // display: block;
      transform: scale(1);
      background-color: #a8a8a8;

      //***********************************************************************
    }
  }
}

.name__comp {
  margin-left: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.education__style-top {
  margin-top: 0;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.education__name {
  color: #fb6d3a;
  font-size: 16px;
  font-weight: 700px;
}
.education {
  &__list {
    padding: 0;
  }
  &__item {
    padding: 0;
    margin-left: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
  }

  &__prof {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  &__date {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 10px;
  }
}

/* aside styles */
.aside {
  width: 370px;
  background-color: #1e2939;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 0px;
  padding-top: 40px;
  margin-bottom: 40px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}

/* sidebar_title styles */
.sidebar {
  &__title {
    margin-left: 40px;
    margin-bottom: 50px;
  }
  &__title1 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    line-height: 27px;
    margin-bottom: 10px;
  }
  &__title2 {
    margin-bottom: 8px;
    padding: 0;
    margin-left: 18px;
    color: #fb6d3a;
  }
  &__cont {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8e949c;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: firebrick;
    }
  }
}

.cont__type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.text__list {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}
