<li class='experience__item'>
  <span class='experience__list'>
    <a class='project__linc' href={{link}}>{{name}}
      <div class='experience__container'>
        <p>{{#each tech}}
            {{this}},
          {{/each}}</p>
      </div>
    </a>
  </span>
</li>