<!--Main-->
<div class="main">
  <!--Main Content-->
  <div class="main__content">
    <!--About user-->
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
      />
      <label class="form-check-label" for="flexSwitchCheckChecked"
        >Укр/Eng</label
      >
    </div>
    <div class="about__user">
      <h2 class="about__usertop" id="profesion">Profesion</h2>
      <h1 class="about__username" id="name">Name</h1>
      <p class="about__userparagr" id="description">Description</p>
    </div>
    <!--Projects-->
    <div class="experience">
      <h3 class="experience__style-top">Projects</h3>
      <ol class="experience__style-list" id="experienceProjekt"></ol>
    </div>
    <!--Work-->
    <div class="experience__work-container">
      <h3 class="experience__style-top">Work Experience</h3>
      <ol
        class="experiance__stile-worklist accordion accordion-flush"
        id="accordionFlushExample"
      ></ol>
    </div>
    <!--Education-->
    <div>
      <h3 class="education__style-top">Education</h3>
      <ul class="education__list" id="education"></ul>
    </div>
  </div>
  <!--Sidebar-->
  <aside class="aside">
    <img class="photo" src="./images/andrii_sereda.jpg" alt="Andrii Sereda" />
    <!--Contacts-->
    <div class="sidebar__title" id="contacts">
      <h3 class="sidebar__title1">Contacts</h3>
    </div>
    <!--Techskills-->
    <div class="sidebar__title">
      <h3 class="sidebar__title1">Tech Skills</h3>
      <ul class="sidebar__title2" id="techSkils"></ul>
    </div>
    <!--SoftSkills-->
    <div class="sidebar__title">
      <h3 class="sidebar__title1">Soft Skills</h3>
      <ul class="sidebar__title2" id="softSkils"></ul>
    </div>
  </aside>
</div>
