
    <!--Main-->
    <Div class="main" >
        <!--Main Content-->
        <Div class="main__content">
            <!--About user-->
            <div class="about__user">
                <h2 class="about__usertop">Front-End Developer, Hardware developer</h2>
                <h1 class="about__username">Anrdii Sereda</h1>
                <p class="about__userparagr">Full cycle of device development, microcontroller firmware, printed circuit boards of devices, design and development of
                radio component cases. Website development and support.</p>
            </div>
            <!--Projects-->
            <div class="experience" >
                <h3 class="experience__style-top">Projects</h3>
                <ol class="experience__style-list">
                    <li>
                        <span class="experience__list">
                        <a  class="project__linc" 
                            href="https://github.com/SeredaAndrey/rab_prog_incubator_V5_0_4">
                            Incubator control unit v5.0.4.....................................................................
                            <span class="bracket">[</span>C++, ArduinoIDE<span class="bracket">]</span></a>
                        </span>                       
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                            href="https://github.com/SeredaAndrey/rab_prog_incubator_V6_2_mini_NOT_PID_engl">
                            Incubator control unit V6.2 mini.............................................................
                            <span class="bracket">[</span>C++, ArduinoIDE<span class="bracket">]</span></a>                       
                        </span>
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                        href="https://github.com/SeredaAndrey/controller_hot_flore-v2.0-with-MQTT">
                            Underfloor heating controller v2.0 with MQTT...............................
                            <span class="bracket">[</span>C++, ArduinoIDE, HTML<span class="bracket">]</span></a>
                        </span>
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                            href="https://github.com/SeredaAndrey/controller_for_boller-v2.0-with-MQTT-and-DS18b20">
                            Boller controller v2.0 with MQTT............................................................
                            <span class="bracket">[</span>C++, ArduinoIDE, HTML<span class="bracket">]</span></a>
                        </span>
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                            href="https://github.com/SeredaAndrey/room-controller-v2.0-with-MQTT-DS18b20-and-TM1637">
                            Room temperature controller v2.0 with MQTT TM1637.............
                            <span class="bracket">[</span>C++, ArduinoIDE, HTML<span class="bracket">]</span></a>
                        </span>
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                            href="https://github.com/SeredaAndrey/room_controller-v2.0-with-MQTT-DS18b20-and-OLED">
                            Room temperature controller v2.0 with MQTT OLED................
                            <span class="bracket">[</span>C++, ArduinoIDE, HTML<span class="bracket">]</span></a>
                        </span>
                    </li>
                    <li>
                        <span class="experience__list">
                        <a class="project__linc" 
                            href="https://github.com/SeredaAndrey/hot-panel-v2.0-with-MQTT-with-MQTTcontroling">
                            Radiator controller v2.0 with MQTT......................................................
                            <span class="bracket">[</span>C++, ArduinoIDE, HTML<span class="bracket">]</span></a>
                        </span>
                    </li>
                </ol>
            </div>
            <!--Work-->
            <div class="experience__work-container">
                <h3 class="experience__style-top">Work Experience</h3>
                <ol class="experiance__stile-worklist">                
                    <!--Company #7-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">PM. Chief Engineer Project 
                        <span class="name__comp">LCC "LMMP"
                        </span>
                        </h4>
                        <p class="experience__date">April 2022 - up to now <span class="line">|</span> Lviv, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Design team management.</li>
                            <li>Maintenance of construction documentation.</li>
                            
                        </ul>
                    </li>
                    <!--Company #7-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Civil Engineer, Chief Engineer 
                        <span class="name__comp">LCC "DEAS Construction"
                        </span>
                        </h4>
                        <p class="experience__date">August 2021 - April 2022 <span class="line">|</span> Mariupol, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Construction site management.</li>
                            <li>Maintenance of construction documentation.</li>
                            <li>Company management.</li>
                        </ul>
                    </li>
                    <!--Company #6-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__tyle-listtop">Civil engineer, designer of the POB group 
                        <span class="name__comp">LLC "AZOVTECHGAZ"</h4></span>
                        <p class="experience__date">July 2020 - August 2021 <span class="line">|</span> Mariupol, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Development of project documentation in the field of preparation for production</li>
                        </ul>
                    </li>
                    <!--Company #5-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Technical director, Director 
                        <span class="name__comp">LLC "MBK"PROMBUDSERVICE"</h4></span>
                        <p class="experience__date">April 2019 - July 2019 <span class="line">|</span> Kyiv, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Construction site management.</li>
                            <li>Maintenance of construction documentation.</li>
                            <li>Company management.</li>
                        </ul>
                    </li>
                    <!--Company #4-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Head of production and technical department 
                        <span class="name__comp">LLC "TONDO"</h4></span>
                        <p class="experience__date">November 2010 - April 2019 <span class="line">|</span> Mariupol, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Conducting construction projects.</li>
                            <li>Maintaining project documentation.</li>
                            <li>Maintaining budget documentation.</li>
                            <li>Department management.</li>
                        </ul>
                    </li>
                    <!--Company #3-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Head of the warehouse and product display of the hypermarket 
                        <span class="name__comp">Building hypermarket OBI</h4></span>
                        <p class="experience__date">October 2009 - September 2010 <span class="line">|</span> Mariupol, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Personnel management of the product display department.</li>
                            <li>Personnel management of the goods acceptance department.</li>
                            <li>Maintaining warehouse documentation.</li>
                        </ul>
                    </li>
                    <!--Company #2-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Head of the construction site, Chief Engineer, Director 
                        <span class="name__comp">LLC "StroyAsovService LTD"</h4></span>
                        <p class="experience__date">February 2003 - March 2009 <span class="line">|</span> Mariupol, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Construction site management.</li>
                            <li>Maintenance of construction documentation.</li>
                            <li>Company management.</li>
                        </ul>
                    </li>
                    <!--Company #1-->
                    <li class="experiance__stile-container">
                        <h4 class="experience__style-listtop">Service engineer repair engineer 
                        <span class="name__comp">LLC "MKS"</h4></span>
                        <p class="experience__date">November 2001 - February 2003 <span class="line">|</span> Kharkiv, Ukraine</p>
                        <ul class="experience__style-list">
                            <li>Repair of office equipment.</li>
                            <li>Software installation and configuration.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <!--Education-->
            <div>
                <h3 class="education__style-top">Education</h3>
                <ul class="education__list">
                    <li class="education__item">
                        <h4 class="educations__name" >Priasov State Technical University (PSTU)</h4>
                        <h5 class="educations__prof">Сivil engineer, industrial civil engineering</h5>
                        <p class="educations__date">September 1996 - June 2002 <span class="line">|</span> Ukraine, Mariupol</p>
                    </li>
                    <li class="education__item">
                        <h4 class="educations__name">EDU.GENIUS.SPACE</h4>
                        <h5 class="educations__prof">Profession Project manager 10.0</h5>
                        <p class="educations__date">May 2022 - June 2022 <span class="line">|</span> Ukraine</p>
                    </li>
                    <li class="education__item">
                        <h4 class="educations__name">GoIT</h4>
                        <h5 class="educations__prof">Full stack developer. HTML+CSS 1.0</h5>
                        <p class="educations__date">June 2022 - August 2022 <span class="line">|</span> Ukraine</p>
                    </li>
                    <li class="education__item">
                        <h4 class="educations__name">GoIT</h4>
                        <h5 class="educations__prof">Full stack developer. JavaScript 2.0</h5>
                        <p class="educations__date">August 2022 - November 2022 <span class="line">|</span> Ukraine</p>
                    </li>
                </ul>
                
            </div>
        </Div>
        <!--Sidebar-->
        <aside class="aside">
            <img class="photo" src="./images/andrii_sereda.jpg" alt="Andrii Sereda">
            <!--Contacts-->
            <div class="sidebar__title">
                <h3 class="sidebar__title1">Contacts</h3>
                <p>
                    <span class="cont__type">C:</span>
                    <a class="sidebar__cont" href="tel:+380676210056"> +3-8-067-621-00-56</a>
                </p>
                <p>
                    <span class="cont__type">E:</span>
                    <a class="sidebar__cont" href="mailto:a.a.sereda@ukr.net"> a.a.sereda@ukr.net</a>
                </p>
                <p>
                    <span class="cont__type">S:</span>
                    <a class="sidebar__cont" href="http://195.72.145.106"> http://195.72.145.106</a>
                </p>
            </div>
            <!--Techskills-->
            <div class="sidebar__title">
                <h3 class="sidebar__title1">Tech Skills</h3>
                <ul class="sidebar__title2">
                    <li> <span class="text__list">HTML, CSS (SCSS)</span></li>
                    <li> <span class="text__list">GIT-HUB</span> </li>
                    <li> <span class="text__list">WebPack, Parcel</span> </li>
                    <li> <span class="text__list">JavaScript</span> </li>
                    <li> <span class="text__list">React.js</span> </li>
                    <li> <span class="text__list">Node.js</span> </li>
                    <li> <span class="text__list">C++ (ArduinoIDE)</span> </li>
                    <li> <span class="text__list">Spring Layout</span> </li>
                    <li> <span class="text__list">Simplify3D, RepetierHost</span></li>
                    <li> <span class="text__list">AutoCAD, Inventor</span></li>
                </ul>
            </div>
            <!--SoftSkills-->
            <div class="sidebar__title">
                <h3 class="sidebar__title1">Soft Skills</h3>
                <ul class="sidebar__title2">
                    <li> <span class="text__list">Scrum</span> </li>
                    <li> <span class="text__list">Agile</span> </li>
                    <li> <span class="text__list">GTD</span> </li>
                    <li> <span class="text__list">Teamwork</span> </li>
                </ul>
            </div>
        </aside>
    </Div>
